@import url(https://fonts.googleapis.com/css?family=Philosopher:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:regular,italic,500,600&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 375px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Philosopher,sans-serif;
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Philosopher,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1;
  transition: opacity .4s
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 76.8125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,74.9375rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: .625rem;
  font-family: "Montserrat Alternates",sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  color: #4c1946;
  background-color: #d7ad6c;
  border-radius: 2.5rem;
  padding: .9375rem 1.375rem;
  transition: background-color .4s ease-in-out
}
.button::after {
  flex: 0 0 .75rem;
  content: "";
  display: block;
  width: .75rem;
  height: .75rem;
  background: url(../img/icons/arrow.svg) no-repeat;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out
}
.button:hover {
  background-color: #fad6bb
}
.button:hover::after {
  -webkit-transform: translateX(.3125rem);
  transform: translateX(.3125rem)
}
.button--fw {
  width: 100%
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none;
  outline: 0
}
.input {
  display: block;
  border-radius: 0!important;
  width: 100%;
  padding: .625rem 0;
  border-bottom: 2px solid #4c1946;
  caret-color: inherit;
  font-family: "Montserrat Alternates",sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #4c1946
}
.input::-webkit-input-placeholder {
  font-family: "Montserrat Alternates",sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #4c1946
}
.input:-ms-input-placeholder {
  font-family: "Montserrat Alternates",sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #4c1946
}
.input::-ms-input-placeholder {
  font-family: "Montserrat Alternates",sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #4c1946
}
.input::placeholder {
  font-family: "Montserrat Alternates",sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #4c1946
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.icon-menu {
  display: none
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem .9375rem;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: end;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #f6f2ef;
  padding: 1.75rem 2rem;
  width: 100%;
  max-width: 34.4375rem;
  min-height: 23.125rem;
  border-radius: 1.5625rem
}
.lock .popup__content {
  visibility: visible
}
.form-popup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem
}
.form-popup__button::after {
  flex: 0 0 .9375rem;
  width: .9375rem;
  height: .9375rem;
  background: url(../img/icons/arrow-down.svg) no-repeat
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  overflow: hidden;
  font-weight: 700;
  text-transform: uppercase;
  color: #d7ad6c;
  line-height: 1.12
}
.title--center {
  text-align: center
}
.title span {
  display: block;
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}
.title._watcher-view span {
  -webkit-animation: title .4s ease-out .2s forwards;
  animation: title .4s ease-out .2s forwards
}
.text--animation {
  overflow: hidden
}
.text--animation span {
  display: block;
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}
.text--animation._watcher-view span {
  -webkit-animation: title .4s ease-out .6s forwards;
  animation: title .4s ease-out .6s forwards
}
@-webkit-keyframes title {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes title {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial,sans-serif;
  text-shadow: 0 0 5px #000;
  opacity: .5
}
.snowflake,
.snowflake .inner {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running
}
@-webkit-keyframes snowflakes-fall {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  100% {
    -webkit-transform: translateY(110vh);
    transform: translateY(110vh)
  }
}
@keyframes snowflakes-fall {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  100% {
    -webkit-transform: translateY(110vh);
    transform: translateY(110vh)
  }
}
@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-shake;
  animation-name: snowflakes-shake;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}
.snowflake .inner {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: snowflakes-fall;
  animation-name: snowflakes-fall;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s
}
.snowflake:nth-of-type(0) .inner {
  -webkit-animation-delay: 0s;
  animation-delay: 0s
}
.snowflake:first-of-type {
  left: 10%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}
.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: .5s;
  animation-delay: .5s
}
.snowflake:nth-of-type(2) img {
  -webkit-transform: rotate(20deg) scale(.4);
  transform: rotate(20deg) scale(.4)
}
.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  -webkit-animation-delay: 6s;
  animation-delay: 6s
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s
}
.snowflake:nth-of-type(3) img {
  -webkit-transform: rotate(20deg) scale(.6);
  transform: rotate(20deg) scale(.6)
}
.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  -webkit-animation-delay: 4s;
  animation-delay: 4s
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s
}
.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  -webkit-animation-delay: 2s;
  animation-delay: 2s
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 3s;
  animation-delay: 3s
}
.snowflake:nth-of-type(5) img {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg)
}
.snowflake:nth-of-type(5) .inner {
  -webkit-animation-delay: 8s;
  animation-delay: 8s
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s
}
.snowflake:nth-of-type(6) img {
  -webkit-transform: scale(.6);
  transform: scale(.6)
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}
.snowflake:nth-of-type(7) img {
  -webkit-transform: scale(.8);
  transform: scale(.8)
}
.snowflake:nth-of-type(7) .inner {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s
}
.snowflake:nth-of-type(8) img {
  -webkit-transform: rotate(20deg) scale(.45);
  transform: rotate(20deg) scale(.45)
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s
}
.snowflake:nth-of-type(9) img {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg)
}
.snowflake:nth-of-type(9) .inner {
  -webkit-animation-delay: 3s;
  animation-delay: 3s
}
.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s
}
.snowflake:nth-of-type(10) img {
  -webkit-transform: rotate(20deg) scale(.45);
  transform: rotate(20deg) scale(.45)
}
.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s
}
.snowflake:nth-of-type(11) img {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg)
}
.snowflake:nth-of-type(12) img {
  -webkit-transform: rotate(20deg) scale(.6);
  transform: rotate(20deg) scale(.6)
}
.header {
  z-index: 10;
  position: relative;
  width: 100%;
  left: 0;
  top: 0
}
.header__body {
  position: relative;
  display: flex;
  align-items: center;
  background: #77286e;
  border-radius: 0 0 2rem 2rem
}
.header__phone {
  position: relative;
  font-family: "Montserrat Alternates",sans-serif;
  font-weight: 500;
  line-height: 1.25;
  color: #d7ad6c;
  text-wrap: nowrap;
  transition: color .4s ease-in-out
}
.header__phone::before {
  content: "";
  position: absolute;
  width: 100%;
  height: .0625rem;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: #fad6bb;
  transition: opacity .4s ease-in-out
}
.header__phone:hover {
  color: #fad6bb
}
.header__phone:hover::before {
  opacity: 1
}
.header__button {
  max-width: 19.3125rem;
  width: 100%
}
.menu {
  flex: 1 1 auto
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem
}
.menu__link {
  text-wrap: nowrap;
  position: relative;
  font-family: var(--second-family);
  font-weight: 500;
  line-height: 1.2142857143;
  text-align: center;
  color: #fff;
  border-radius: 2.5rem;
  padding: .40625rem 1.75rem
}
.menu__link::before {
  content: "";
  position: absolute;
  width: 1.875rem;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: #9e267b;
  border-radius: 2.5rem;
  transition: width .4s ease 0s,opacity .4s ease .2s
}
.menu__link span {
  position: relative
}
.menu__link:hover::before {
  opacity: 1;
  width: 100%;
  transition: width .4s ease .2s,opacity .4s ease 0s
}
.footer {
  z-index: 2;
  position: relative;
  padding: 3.6875rem 0;
  background-color: #4c1946
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.footer__body {
  display: flex;
  align-items: center;
  justify-content: center
}
.logo-footer__picture {
  width: 10.8125rem;
  height: 4.4375rem
}
.social-footer {
  display: flex
}
.social-footer__link svg {
  display: block;
  width: 2.1875rem;
  height: 2.1875rem
}
.social-footer__link path {
  transition: fill .4s ease-in-out;
  fill: #d7ad6c
}
.social-footer__link:hover path {
  fill: #fad6bb
}
.actions-footer {
  display: flex;
  gap: 1.6875rem
}
.actions-footer__link {
  display: flex;
  align-items: center;
  gap: .8125rem
}
.actions-footer__link svg {
  display: block
}
.actions-footer__link path {
  fill: #d7ad6c;
  transition: fill .4s ease-in-out 0s
}
.actions-footer__link span {
  position: relative;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  text-wrap: nowrap
}
.actions-footer__link span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: .0625rem;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: #fad6bb;
  transition: opacity .4s ease-in-out
}
.actions-footer__link:hover path {
  fill: #fad6bb
}
.actions-footer__link:hover span::before {
  opacity: 1
}
.main {
  z-index: 2;
  position: relative;
  background: linear-gradient(360deg,#4c1946 0,#7a2870 100%)
}
.main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3.875rem;
  left: 0;
  background: url(../img/main/bg.svg) no-repeat top center
}
.main::after {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: url(../img/about/bg.svg) no-repeat center bottom/contain
}
.main__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4375rem
}
.body-main__text {
  font-family: "Montserrat Alternates",sans-serif;
  line-height: 1.2
}
.image-main {
  z-index: 2;
  position: relative
}
.about {
  position: relative
}
.about__container {
  z-index: 2;
  position: relative
}
.body-about {
  display: grid
}
.item-about {
  min-height: 19.625rem;
  background: linear-gradient(360deg,#4c1946 0,#7a2870 100%);
  border-radius: 1.5625rem;
  padding: 2.3125rem 1.4375rem
}
.item-about__header {
  display: flex;
  gap: .625rem;
  align-items: end
}
.item-about__header:not(:last-child) {
  margin-bottom: .75rem
}
.item-about__value {
  font-size: 4.0625rem;
  line-height: .8307692308;
  color: #d7ad6c
}
.item-about__title {
  font-size: 1.5rem;
  line-height: 1.125;
  color: #d7ad6c
}
.item-about__text {
  font-size: 1rem;
  line-height: 1.25;
  font-family: "Montserrat Alternates",sans-serif
}
.who-are-we__container {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center
}
.who-are-we-image {
  position: relative
}
.body-who-are-we__title:not(:last-child) {
  margin-bottom: 1.9375rem
}
.body-who-are-we__text {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat Alternates",sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  color: #4c1946
}
.download {
  z-index: 2;
  position: relative;
  padding-top: 2.5625rem;
  padding-bottom: 2.75rem;
  background: linear-gradient(360deg,#4c1946 0,#7a2870 100%)
}
.download::after,
.download::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0
}
.download::before {
  width: 32.25rem;
  height: 17.4375rem;
  left: 0;
  background: url(../img/download/bg-01.webp) no-repeat center center/contain;
  z-index: 1
}
.download::after {
  width: 31.875rem;
  height: 17.4375rem;
  right: 0;
  background: url(../img/download/bg-02.webp) no-repeat center center/contain
}
.download__container {
  display: flex;
  flex-direction: column
}
.download__text {
  font-family: "Montserrat Alternates",sans-serif;
  text-align: center;
  color: #fff;
  line-height: 1.2083333333
}
.download__button {
  align-self: center
}
.reviews__container {
  z-index: 2;
  position: relative
}
.reviews__title {
  text-align: center
}
.reviews-slider__actions {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.reviews-slider-next,
.reviews-slider-prev {
  height: .9375rem;
  cursor: pointer;
  transition: opacity .4s ease-in-out
}
.reviews-slider-next:hover,
.reviews-slider-prev:hover {
  opacity: .5
}
.reviews-slider-prev img {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.swiper-button-disabled {
  opacity: 0;
  pointer-events: none
}
.slide-reviews {
  max-width: 29.6875rem;
  width: 100%;
  min-height: 24.25rem;
  border-radius: 1.5625rem;
  background: #f6f2ef;
  padding: 2.3125rem 1.5rem 2.3125rem 1.0625rem
}
.slide-reviews__header {
  display: flex;
  align-items: center
}
.slide-reviews__picture {
  border-radius: 100%
}
.slide-reviews__name {
  font-weight: 700;
  text-transform: uppercase;
  color: #4c1946;
  line-height: 1.1
}
.slide-reviews__text {
  font-family: "Montserrat Alternates",sans-serif;
  font-style: italic;
  color: #4c1946;
  line-height: 1.25
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .body-about {
    grid-template-columns: repeat(auto-fit,minmax(22.5rem,1fr))
  }
}
@media (min-width:47.99875em) {
  .body-main {
    flex: 0 1 37.6875rem
  }
  .image-main {
    flex: 0 1 34.375rem;
    padding-top: 51.8867924528%
  }
  .image-main__picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
    object-fit: contain
  }
  .who-are-we-image {
    flex: 0 1 31.75rem;
    padding-top: 59.0697674419%
  }
  .who-are-we-image__picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
    object-fit: contain
  }
  .body-who-are-we {
    flex: 0 1 36.0625rem
  }
}
@media (min-width:47.99875em)and (min-width:74.9375em) {
  .who-are-we__container {
    gap: 3.3125rem
  }
}
@media (min-width:74.9375em) {
  .popup__close:not(:last-child) {
    margin-bottom: 2.0625rem
  }
  .form-popup__button {
    margin-top: .9375rem
  }
  .title {
    font-size: 3.125rem
  }
  .header {
    margin-bottom: -6.125rem
  }
  .header__body {
    gap: 2.75rem
  }
  .header__body {
    padding-top: 1.125rem
  }
  .header__body {
    padding-bottom: 1.125rem
  }
  .header__phone {
    font-size: 1rem
  }
  .header__button {
    padding-top: 1.0625rem
  }
  .header__button {
    padding-bottom: 1.0625rem
  }
  .header__button {
    font-size: 1rem
  }
  .logo-header__picture {
    width: 9.5rem
  }
  .logo-header__picture {
    height: 3.875rem
  }
  .menu__link {
    font-size: 1rem
  }
  .footer__container {
    gap: 3.25rem
  }
  .footer__body {
    gap: 2.6875rem
  }
  .social-footer {
    gap: 1.4375rem
  }
  .main {
    padding-top: 12.6875rem
  }
  .main::after {
    top: 6.6875rem
  }
  .body-main__title {
    font-size: 3.125rem
  }
  .body-main__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .body-main__text {
    font-size: 1.25rem
  }
  .body-main__text {
    margin-bottom: 2.875rem
  }
  .about {
    padding-top: 5.6875rem
  }
  .about__title:not(:last-child) {
    margin-bottom: 5rem
  }
  .body-about {
    -webkit-column-gap: 3.6875rem;
    -moz-column-gap: 3.6875rem;
    column-gap: 3.6875rem
  }
  .body-about {
    row-gap: 4.75rem
  }
  .who-are-we {
    padding-top: 8.125rem
  }
  .who-are-we {
    padding-bottom: 8.125rem
  }
  .body-who-are-we__text {
    font-size: 1.5rem
  }
  .body-who-are-we__text {
    gap: 1.8125rem
  }
  .download__title {
    font-size: 2.5rem
  }
  .download__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .download__text {
    font-size: 1.5rem
  }
  .download__text:not(:last-child) {
    margin-bottom: 2.625rem
  }
  .reviews {
    padding-top: 8.125rem
  }
  .reviews {
    padding-bottom: 8.125rem
  }
  .reviews__title:not(:last-child) {
    margin-bottom: 3.5rem
  }
  .reviews-slider__actions:not(:last-child) {
    margin-bottom: 3.9375rem
  }
  .slide-reviews__header {
    gap: 1.4375rem
  }
  .slide-reviews__header:not(:last-child) {
    margin-bottom: 2.25rem
  }
  .slide-reviews__picture {
    width: 6.25rem
  }
  .slide-reviews__picture {
    height: 6.25rem
  }
  .slide-reviews__name {
    font-size: 1.25rem
  }
  .slide-reviews__text {
    font-size: 1rem
  }
}
@media (min-width:87.5em)and (min-width:120em) {
  .image-main {
    margin-right: -5.1875rem
  }
}
@media (min-width:30em) {
  .item-about__title {
    font-size: 1.5rem
  }
}
@media (max-width:62em) {
  .header__body {
    gap: 1.5rem
  }
  .header__phone {
    font-size: .875rem
  }
  .header__button {
    padding-top: .8125rem
  }
  .header__button {
    padding-bottom: .8125rem
  }
  .header__button {
    font-size: .875rem
  }
  .menu__link {
    font-size: .875rem
  }
}
@media (max-width:48em) {
  .popup__close:not(:last-child) {
    margin-bottom: 2.3125rem
  }
  .form-popup__button {
    margin-top: .0000000625rem
  }
  .title {
    font-size: 2.5rem
  }
  .header {
    margin-bottom: -4.375rem
  }
  .header__body {
    padding-top: .75rem
  }
  .header__body {
    padding-bottom: .75rem
  }
  .logo-header__picture {
    width: 7.0625rem
  }
  .logo-header__picture {
    height: 2.875rem
  }
  .footer__container {
    gap: 2.5rem
  }
  .footer__body {
    gap: 2.5rem
  }
  .social-footer {
    gap: 1.125rem
  }
  .main {
    padding-top: 10.3125rem
  }
  .body-main__title {
    font-size: 1.875rem
  }
  .body-main__title:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .body-main__text {
    font-size: 1rem
  }
  .body-main__text {
    margin-bottom: 1.75rem
  }
  .about {
    padding-top: 3.6875rem
  }
  .about__title:not(:last-child) {
    margin-bottom: 2.6875rem
  }
  .body-about {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .body-about {
    row-gap: 2.5rem
  }
  .who-are-we {
    padding-top: 3.6875rem
  }
  .who-are-we {
    padding-bottom: 6.1875rem
  }
  .body-who-are-we__text {
    font-size: 1rem
  }
  .body-who-are-we__text {
    gap: 1.25rem
  }
  .download__title {
    font-size: 1.875rem
  }
  .download__title:not(:last-child) {
    margin-bottom: 1.375rem
  }
  .download__text {
    font-size: 1.25rem
  }
  .download__text:not(:last-child) {
    margin-bottom: 1.625rem
  }
  .reviews {
    padding-top: 3.6875rem
  }
  .reviews {
    padding-bottom: 7.4375rem
  }
  .reviews__title:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .reviews-slider__actions:not(:last-child) {
    margin-bottom: 2.25rem
  }
  .slide-reviews__header {
    gap: .875rem
  }
  .slide-reviews__header:not(:last-child) {
    margin-bottom: 2rem
  }
  .slide-reviews__picture {
    width: 4.9375rem
  }
  .slide-reviews__picture {
    height: 4.9375rem
  }
  .slide-reviews__name {
    font-size: 1rem
  }
  .slide-reviews__text {
    font-size: .875rem
  }
}
@media (max-width:90.625em) {
  .download {
    padding-top: 15.5rem;
    padding-bottom: 3.8125rem
  }
}
@media (max-width:81.25em) {
  .footer__container {
    flex-direction: column
  }
}
@media (max-width:74.9375em) {
  .main::before {
    background: url(../img/main/bg.svg) no-repeat top center/contain
  }
}
@media (max-width:61.99875em) {
  .popup__content {
    min-height: 21.5625rem
  }
  .snowflake:nth-of-type(4) {
    display: none
  }
  .snowflake:nth-of-type(8) {
    display: none
  }
  .snowflake:nth-of-type(11) {
    display: none
  }
  .header__phone {
    display: none
  }
  .header__button {
    max-width: 16.8125rem
  }
  .menu__link {
    padding: .40625rem 1.25rem
  }
  .footer {
    border-radius: 1.25rem 1.25rem 0 0
  }
  .footer__body {
    flex-wrap: wrap
  }
  .download {
    padding-top: 13rem
  }
  .download::after,
  .download::before {
    width: 25rem;
    height: 13.75rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    left: 0;
    top: 4rem;
    border-radius: 0 0 2rem 2rem;
    background: #77286e;
    transition: height .4s
  }
  .menu-open .menu__body {
    overflow: auto;
    height: 27.25rem;
    padding: 0 1.875rem 1.875rem 1.875rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff;
    border-radius: .3125rem
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu {
    width: 1.25rem;
    height: 1.25rem
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .snowflake:nth-of-type(9) {
    display: none
  }
  .snowflake:nth-of-type(12) {
    display: none
  }
  .header {
    top: .9375rem
  }
  .header__body {
    padding: .75rem 1.5625rem;
    border-radius: 2rem;
    transition: border-radius .4s ease-in-out .2s
  }
  .menu-open .header__body {
    border-radius: 2rem 2rem 0 0;
    transition: border-radius 0s ease-in-out 0s
  }
  .header__phone {
    display: block;
    font-size: 1rem
  }
  .menu__list {
    padding-top: 1.75rem;
    flex-direction: column;
    gap: 2.25rem
  }
  .menu__link {
    font-size: 1.125rem;
    padding: .40625rem 2.5rem
  }
  .footer__body {
    flex-direction: column
  }
  .actions-footer {
    flex-direction: column;
    align-items: center;
    gap: 2rem
  }
  .main {
    padding-bottom: 3.9375rem
  }
  .main::before {
    bottom: 0;
    background: url(../img/main/bg-mob.svg) no-repeat top center/contain
  }
  .main::after {
    background: url(../img/about/bg-mob.svg) no-repeat center bottom/contain
  }
  .main__container {
    flex-direction: column-reverse
  }
  .body-main {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .body-main__title {
    text-align: center
  }
  .body-main__text {
    text-align: center
  }
  .image-main__picture {
    width: 18.5625rem;
    height: 20.3125rem
  }
  .who-are-we__container {
    flex-direction: column
  }
  .who-are-we-image:not(:last-child) {
    margin-bottom: 1.3125rem
  }
  .who-are-we-image__picture {
    width: 21.0625rem;
    height: 27.0625rem
  }
  .body-who-are-we__title {
    text-align: center
  }
  .body-who-are-we__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .body-who-are-we__text {
    text-align: center
  }
  .download {
    padding-top: 13.625rem
  }
  .download::before {
    display: none
  }
  .download::after {
    width: 100%;
    height: 14.375rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:26.875em) {
  .main::after {
    top: 1.5rem
  }
}
@media (max-width:24.375em) {
  .item-about__title {
    font-size: 1.375rem
  }
}
@media (min-width:48em)and (max-width:74.9375em) {
  .popup__close:not(:last-child) {
    margin-bottom: clamp(2.0625rem ,2.7579756381rem + -.9280742459vw ,2.3125rem)
  }
  .form-popup__button {
    margin-top: clamp(.0000000625rem ,-1.6705334688rem + 3.4802781903vw ,.9375rem)
  }
  .title {
    font-size: clamp(2.5rem ,1.3863109049rem + 2.3201856148vw ,3.125rem)
  }
  .header {
    margin-bottom: clamp(-6.125rem ,-1.2566705336rem + -6.4965197216vw ,-4.375rem)
  }
  .header__body {
    padding-top: clamp(.75rem ,.0817865429rem + 1.3921113689vw ,1.125rem)
  }
  .header__body {
    padding-bottom: clamp(.75rem ,.0817865429rem + 1.3921113689vw ,1.125rem)
  }
  .logo-header__picture {
    width: clamp(7.0625rem ,2.719112529rem + 9.0487238979vw ,9.5rem)
  }
  .logo-header__picture {
    height: clamp(2.875rem ,1.0930974478rem + 3.7122969838vw ,3.875rem)
  }
  .footer__container {
    gap: clamp(2.5rem ,1.1635730858rem + 2.7842227378vw ,3.25rem)
  }
  .footer__body {
    gap: clamp(2.5rem ,2.1658932715rem + .6960556845vw ,2.6875rem)
  }
  .social-footer {
    gap: clamp(1.125rem ,.5681554524rem + 1.1600928074vw ,1.4375rem)
  }
  .main {
    padding-top: clamp(10.3125rem ,6.0804814385rem + 8.8167053364vw ,12.6875rem)
  }
  .body-main__title {
    font-size: clamp(1.875rem ,-.3523781903rem + 4.6403712297vw ,3.125rem)
  }
  .body-main__title:not(:last-child) {
    margin-bottom: clamp(1.25rem ,2.1193445476rem + -1.1600928074vw ,1.5625rem)
  }
  .body-main__text {
    font-size: clamp(1rem ,.5545243619rem + .9280742459vw ,1.25rem)
  }
  .body-main__text {
    margin-bottom: clamp(1.75rem ,-.2546403712rem + 4.1763341067vw ,2.875rem)
  }
  .about {
    padding-top: clamp(3.6875rem ,.1236948956rem + 7.4245939675vw ,5.6875rem)
  }
  .about__title:not(:last-child) {
    margin-bottom: clamp(2.6875rem ,-1.433149652rem + 8.5846867749vw ,5rem)
  }
  .body-about {
    -webkit-column-gap: clamp(2.5rem ,.3839907193rem + 4.4083526682vw ,3.6875rem);
    -moz-column-gap: clamp(2.5rem ,.3839907193rem + 4.4083526682vw ,3.6875rem);
    column-gap: clamp(2.5rem ,.3839907193rem + 4.4083526682vw ,3.6875rem)
  }
  .body-about {
    row-gap: clamp(2.5rem ,-1.5092807425rem + 8.3526682135vw ,4.75rem)
  }
  .who-are-we {
    padding-top: clamp(3.6875rem ,-4.2196925754rem + 16.4733178654vw ,8.125rem)
  }
  .who-are-we {
    padding-bottom: clamp(6.1875rem ,2.7350638051rem + 7.192575406vw ,8.125rem)
  }
  .body-who-are-we__text {
    font-size: clamp(1rem ,.1090487239rem + 1.8561484919vw ,1.5rem)
  }
  .body-who-are-we__text {
    gap: clamp(1.25rem ,.2476798144rem + 2.0881670534vw ,1.8125rem)
  }
  .download__title {
    font-size: clamp(1.875rem ,.7613109049rem + 2.3201856148vw ,2.5rem)
  }
  .download__title:not(:last-child) {
    margin-bottom: clamp(.625rem ,2.7114269142rem + -2.7842227378vw ,1.375rem)
  }
  .download__text {
    font-size: clamp(1.25rem ,.8045243619rem + .9280742459vw ,1.5rem)
  }
  .download__text:not(:last-child) {
    margin-bottom: clamp(1.625rem ,-.1569025522rem + 3.7122969838vw ,2.625rem)
  }
  .reviews {
    padding-top: clamp(3.6875rem ,-4.2196925754rem + 16.4733178654vw ,8.125rem)
  }
  .reviews {
    padding-bottom: clamp(7.4375rem ,6.2124419954rem + 2.5522041763vw ,8.125rem)
  }
  .reviews__title:not(:last-child) {
    margin-bottom: clamp(2.5rem ,.7180974478rem + 3.7122969838vw ,3.5rem)
  }
  .reviews-slider__actions:not(:last-child) {
    margin-bottom: clamp(2.25rem ,-.7569605568rem + 6.2645011601vw ,3.9375rem)
  }
  .slide-reviews__header {
    gap: clamp(.875rem ,-.1273201856rem + 2.0881670534vw ,1.4375rem)
  }
  .slide-reviews__header:not(:last-child) {
    margin-bottom: clamp(2rem ,1.5545243619rem + .9280742459vw ,2.25rem)
  }
  .slide-reviews__picture {
    width: clamp(4.9375rem ,2.5987529002rem + 4.8723897912vw ,6.25rem)
  }
  .slide-reviews__picture {
    height: clamp(4.9375rem ,2.5987529002rem + 4.8723897912vw ,6.25rem)
  }
  .slide-reviews__name {
    font-size: clamp(1rem ,.5545243619rem + .9280742459vw ,1.25rem)
  }
  .slide-reviews__text {
    font-size: clamp(.875rem ,.652262181rem + .464037123vw ,1rem)
  }
}
@media (min-width:62em)and (max-width:74.9375em) {
  .header__body {
    gap: clamp(1.5rem ,-4.4903381643rem + 9.6618357488vw ,2.75rem)
  }
  .header__phone {
    font-size: clamp(.875rem ,.2759661836rem + .9661835749vw ,1rem)
  }
  .header__button {
    padding-top: clamp(.8125rem ,-.3855676329rem + 1.9323671498vw ,1.0625rem)
  }
  .header__button {
    padding-bottom: clamp(.8125rem ,-.3855676329rem + 1.9323671498vw ,1.0625rem)
  }
  .header__button {
    font-size: clamp(.875rem ,.2759661836rem + .9661835749vw ,1rem)
  }
  .menu__link {
    font-size: clamp(.875rem ,.2759661836rem + .9661835749vw ,1rem)
  }
}
@media (min-width:26.875em)and (max-width:74.9375em) {
  .main::after {
    top: clamp(1.5rem ,-1.4006827048rem + 10.7932379714vw ,6.6875rem)
  }
}
@media (min-width:87.5em)and (min-width:87.5em)and (max-width:120em) {
  .image-main {
    margin-right: clamp(-5.1875rem ,13.9663463846rem + -15.9615386538vw ,.0000000625rem)
  }
}
@media (min-width:87.5em)and (max-width:87.5em) {
  .image-main {
    margin-right: .0000000625rem
  }
}
@media (min-width:24.375em)and (max-width:30em) {
  .item-about__title {
    font-size: clamp(1.375rem ,.8333333333rem + 2.2222222222vw ,1.5rem)
  }
}
@media (min-width:47.99875em)and (min-width:48em)and (max-width:74.9375em) {
  .who-are-we__container {
    gap: clamp(1.4375rem ,-1.9035672854rem + 6.9605568445vw ,3.3125rem)
  }
}
@media (min-width:47.99875em)and (max-width:48em) {
  .who-are-we__container {
    gap: 1.4375rem
  }
}